$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

// Colors
$color-text: #000507;
$color-text-blue: #00B0EA;
$color-text-green: #8AC557;
$color-medium-gray: #676767;
$color-gray: #676767;
$color-bglight: #FFFFFF;
$color-light-gray: #F0F0F0;

$color-emphasis: $color-text-blue;
$color-emphasis-alt: $color-text-green;
$color-emphasis-alt-modified: #6AA537;