.unselectable {
  user-select: none;
}

.is-success {
  background-color: $color-emphasis-alt !important;

  &:hover {
    background-color: $color-emphasis-alt-modified !important;
  }
}

.hide-on-load {
  display: none;
}

.page-wrapper {
  margin-bottom: 30px;
}

blockquote {
  font-size: 24px;
  font-style: italic;
}

.container {
  margin: 0 20px !important;

  @include breakpoint($sm) {
    margin: 0 20px !important;
  }
}